@import "bootstrap/dist/css/bootstrap.min.css";
.container {
  padding-top: 30px;
  max-width: 400px;
}
.contContact{
  display: flex;
  justify-content: space-between;
}
.item{
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  margin: 5px 0;
}
.item button {
  border: none;
  border-radius: 50%;
}